<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Контакты</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<link rel="stylesheet" href="/static/furnitureshop/fonts/font-awesome/css/font-awesome.css">
</head>
<body>
	<div class="container">
		<div class="hero">
			<div class="header clearfix">
				<a href="/" class="logo"></a>
				<ul class="menu">
					<li><a href="/" class="active">домой</a></li>
					<li><a href="/products/">продукты</a></li>
					<li><a href="/contacts/">контакты</a></li>
				</ul>
				<a href="#" class="search"><img src="/static/furnitureshop/img/search.png"></a>
                <a href="#" class="basket"></a>
			</div>
			<h1>наши контакты</h1>
		</div>

		<div class="location">
			<div class="location-1">
				<i class="fa fa-map-marker fa-5x"></i>
				<h4>Казань</h4>
				<div class="contacts">
					<h5>Телефон</h5>
					<p>+7-555-555-5555</p>
				</div>
				<div class="contacts">
					<h5>Email</h5>
					<p>info@furnitureshop.ru</p>
				</div>
				<div class="contacts">
					<h5>Адрес</h5>
					<p>ул. Пушкина, д. 7</p>
				</div>
			</div>
			<div class="location-1">
				<i class="fa fa-map-marker fa-5x"></i>
				<h4>Москва</h4>
				<div class="contacts">
					<h5>Телефон</h5>
					<p>+7-888-888-8888</p>
				</div>
				<div class="contacts">
					<h5>Email</h5>
					<p>info@furnitureshop.ru</p>
				</div>
				<div class="contacts">
					<h5>Адрес</h5>
					<p>ул. Сычёва, д. 2</p>
				</div>
			</div>
			<div class="location-1">
				<i class="fa fa-map-marker fa-5x"></i>
				<h4>Нижний Новгород</h4>
				<div class="contacts">
					<h5>Телефон</h5>
					<p>+7-999-999-9999</p>
				</div>
				<div class="contacts">
					<h5>Email</h5>
					<p>info@furnitureshop.ru</p>
				</div>
				<div class="contacts">
					<h5>Адрес</h5>
					<p>ул. Двачёва, д. 4</p>
				</div>
			</div>
		</div>

		<div class="clr"></div>
	</div>

    <div class="footer">
		<div class="clearfix">
			<div class="text-footer">
				<h3>контакты</h3>
			</div>
			<div class="text-footer">
				<h3>полезная информация</h3>
			</div>
			<div class="text-footer clearfix">
				<h3>Оставайтесь на связи</h3>
				<p>Подписаться на новости и рассылки</p>
				<form>
					<input type="email" name="email" placeholder="ваш email">
					<a href="#"><i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i></a>
				</form>
			</div>
		</div>
		<p class="small">&copy; GB 2021</p>
		<div class="social">
			<a href="#" class="social-link-1"><img src="/static/furnitureshop/img/social-link-facebook.png"></a>
			<a href="#" class="social-link-2"><img src="/static/furnitureshop/img/social-link-twitter.png"></a>
			<a href="#" class="social-link-3"><img src="/static/furnitureshop/img/social-link-google.png"></a>
			<a href="#" class="social-link-4"><img src="/static/furnitureshop/img/social-link-pinterest.png"></a>
		</div>
		<p class="small">Положения &amp; Условия / Конфиденциальность &amp; Cookies</p>
	</div>

</body>

</html>