{% extends 'base.html' %}

{% block content %}
<div class="hero">
    {% include 'includes/inc_main_menu.html' %}
    <h1>наши контакты</h1>
</div>

<div class="location">
    <div class="location-1">
        <i class="fa fa-map-marker fa-5x"></i>
        <h4>Казань</h4>
        <div class="contacts">
            <h5>Телефон</h5>
            <p>+7-555-555-5555</p>
        </div>
        <div class="contacts">
            <h5>Email</h5>
            <p>info@furnitureshop.ru</p>
        </div>
        <div class="contacts">
            <h5>Адрес</h5>
            <p>ул. Пушкина, д. 7</p>
        </div>
    </div>
    <div class="location-1">
        <i class="fa fa-map-marker fa-5x"></i>
        <h4>Москва</h4>
        <div class="contacts">
            <h5>Телефон</h5>
            <p>+7-888-888-8888</p>
        </div>
        <div class="contacts">
            <h5>Email</h5>
            <p>info@furnitureshop.ru</p>
        </div>
        <div class="contacts">
            <h5>Адрес</h5>
            <p>ул. Сычёва, д. 2</p>
        </div>
    </div>
    <div class="location-1">
        <i class="fa fa-map-marker fa-5x"></i>
        <h4>Нижний Новгород</h4>
        <div class="contacts">
            <h5>Телефон</h5>
            <p>+7-999-999-9999</p>
        </div>
        <div class="contacts">
            <h5>Email</h5>
            <p>info@furnitureshop.ru</p>
        </div>
        <div class="contacts">
            <h5>Адрес</h5>
            <p>ул. Двачёва, д. 4</p>
        </div>
    </div>
</div>

{% endblock %}