{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="hero-white">
        {% include 'includes/inc_main_menu.html' %}
    </div>

    <div class="details">
        {% include 'includes/inc_category_menu.html' %}
        <div class="details-products">
            <div class="details-slider">
                <div class="slider-product">
                    <img src="{% static 'furnitureshop/img/product-2.jpg' %}">
                </div>
                <div class="slider-control">
                    <div class="block">
                        <a href="#"><img src="{% static 'furnitureshop/img/controll.jpg' %}" alt="">
                            <div class="text"></div>
                        </a>
                    </div>
                    <div class="block">
                        <a href="#"><img src="{% static 'furnitureshop/img/controll1.jpg' %}" alt="">
                            <div class="text"></div>
                        </a>
                    </div>
                    <div class="block">
                        <a href="#"><img src="{% static 'furnitureshop/img/controll2.jpg' %}" alt="">
                            <div class="text"></div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="description">
                <h3 class="big-bold">Отличный стул</h3>
                <h3 class="red">горячее предложение</h3>
                <p class="price">2585<span>руб</span></p>
                <a href="#" class="red-button">
                    заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
                <div class="description-text">
                    <p>Расположитесь комфортно.</p>
                    <p>Отличное качество материалов позволит вам это.</p>
                    <p>Различные цвета.</p>
                    <p>Высочайший уровень эргономики и прочность.</p>
                </div>
            </div>
        </div>

        <div class="featured mt5">
            <h2>
                Категория: "{{ category.name|title }}"
            </h2>
            <div class="featured-menu">
                <a class="active" href="#">Популярные</a><a href="#">Новинки</a>
            </div>
            <a class="explore" href="#">показать все <img src="{% static 'furnitureshop/img/arrow.png' %}" alt=""></a>
            <div class="clearfix">
            </div>
            <div class="tab-content">
                {% for product in products %}
                    <div class="block">
                        <a href="#"><img class="img-mini" src="/media/{{ product.image }}" alt="">
                            <div class="text">
                                <img src="{% static 'furnitureshop/img/icon-hover.png' %}" alt="">
                                <h4>{{ product.name }}</h4>
                                <p>{{ product.short_desk }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>

            <div class="related">
                <div class="title clearfix">
                    <h2>Похожие продукты</h2>
                    <a class="explore" href="#">показать все <img src="{% static 'furnitureshop/img/arrow.png' %}"
                                                                  alt=""></a>
                </div>
                <div class="related-products clearfix">
                    {% for product in products %}
                        <div class="block">
                            <a href="#"><img src="/media/{{ product.image }}" alt="">
                                <div class="text">
                                    <img src="{% static 'furnitureshop/img/icon-hover.png' %}" alt="img">
                                    <h4>{{ product.name }}</h4>
                                    <p>{{ product.short_desk }}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}