{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        Осторожно! Вы точно хотите удалить продукт - {{ object.name }}
        <b>{{ object.name|title }}</b>
        ?
        <form action="{% url 'admin_staff:product_delete' object.pk %}" method="post">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="удалить">
        </form>
        <button class="btn btn-success">
            <a href="{% url 'admin_staff:categories' %}">Отмена</a>
        </button>
    </div>
{% endblock %}