{% extends 'furnitureshop/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/style.css' %}">
{% endblock %}

{% block content %}
    <div class="hero-white">
        {% include 'furnitureshop/includes/inc_main_menu.html' %}
    </div>

    <div class="details">
        {% include 'mainapp/includes/inc_category_menu.html' %}
        <div class="details-products">
            <div class="details-slider">
                <div class="slider-product">
                    <img src="/media/{{ hot_product.image }}">
                </div>
                <div class="slider-control">
                    <div class="block">
                        <a href="#"><img src="/media/{{ hot_product.image }}" alt="вариант 1">
                            <div class="text"></div>
                        </a>
                    </div>
                    <div class="block">
                        <a href="#"><img src="/media/{{ hot_product.image }}" alt="вариант 2">
                            <div class="text"></div>
                        </a>
                    </div>
                    <div class="block">
                        <a href="#"><img src="/media/{{ hot_product.image }}" alt="вариант 3">
                            <div class="text"></div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="description">
                <h3 class="big-bold">{{ hot_product.name }}</h3>
                <h3 class="red">горячее предложение</h3>
                <p class="price">{{ hot_product.price }}<span>руб</span></p>
                <a href="{% url 'products:product' hot_product.pk %}" class="red-button">
                    заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
                <div class="description-text">
                    <p>{{ hot_product.short_desk }}</p>
                </div>
            </div>
        </div>

        <div class="featured mt5">
            <h2>
                {% if category %}
                    <div class="paginator">
                        {% if products.has_previous %}
                            <a class="paginator-href"
                               href="{% url 'products:page' category.pk products.previous_page_number %}"><</a>
                        {% endif %}
                        <span class="current">
                            страница {{ products.number }} из {{ products.paginator.num_pages }}
                        </span>
                        {% if products.has_next %}
                            <a class="paginator-href"
                               href="{% url 'products:page' category.pk products.next_page_number %}">></a>
                        {% endif %}
                    </div>
                {% endif %}
            </h2>
            <div class="featured-menu">
                <a class="active" href="#">Популярные</a><a href="#">Новинки</a>
            </div>
            <a class="explore" href="#">показать все <img src="{% static 'furnitureshop/img/arrow.png' %}" alt=""></a>
            <div class="clearfix">
            </div>
            <div class="tab-content">
                {% for product in products %}
                    <div class="block">
                        <a href="#"><img class="img-mini" src="/media/{{ product.image }}" alt="">
                            <div class="text">
                                <img src="{% static 'furnitureshop/img/icon-hover.png' %}" alt="">
                                <h4>{{ product.name }}</h4>
                                <p>{{ product.short_desk }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>

            <div class="related">
                <div class="title clearfix">
                    <h2>Похожие продукты</h2>
                    <a class="explore" href="#">показать все <img src="{% static 'furnitureshop/img/arrow.png' %}"
                                                                  alt=""></a>
                </div>
                <div class="related-products clearfix">
                    {% for product in same_products %}
                        <div class="block">
                            <a href="#"><img src="/media/{{ product.image }}" alt="">
                                <div class="text">
                                    <img src="{% static 'furnitureshop/img/icon-hover.png' %}" alt="img">
                                    <h4>{{ product.name }}</h4>
                                    <p>{{ product.short_desk }}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}